<div class="arena" data-controller="animation">
  <%= turbo_frame_tag "arena" do %>
    <div class="pokemon" id="adversary">
      <div class="name"><%= @battle.adversary.name %></div>
      <%= image_tag ("avatars/#{@battle.adversary.name}.png"), class: "#{'winner' if @battle.adversary == @winner}", data: { animation_target: "opponent" }  %>
      <div class="info">
        <%= render "status", pokemon: @battle.adversary %><%= render "hitpoints", pokemon: @battle.adversary %>
      </div>
    </div>
    <div class="pokemon" id="user">
      <div class="info">
        <%= render "hitpoints", pokemon: @battle.user %><%= render "status", pokemon: @battle.user %>
      </div>
      <%= image_tag ("avatars/#{@battle.user.name}.png"), class: "#{'winner' if @battle.user == @winner}", data: { animation_target: "avatar" } %>
      <div class="name"><%= @battle.user.name %></div>
    </div>

    <%= render "message" %>

    <div class="actions">
      <%= button_to "Return to main screen", battle_path(@battle), method: :delete, data: { turbo_frame: "_top" }, class: 'btn-link' %>
    </div>
  <% end %>
</div>
