<div class="arena" data-controller="animation">
  <div class="pokemon" id="adversary">
    <div class="name"><%= @battle.adversary.name %></div>
    <%= image_tag ("avatars/#{@battle.adversary.name}.png") %>
    <div class="hp">
      <% if @battle.adversary.alive? %>
        <%= "#{@battle.adversary.hp}/#{@battle.adversary.max_hp}" %>
      <% else %>
        <%= "KO" %>
      <% end %>
    </div>
  </div>
  <div class="pokemon" id="user">
    <div class="hp"><%= "#{@battle.user.hp}/#{@battle.user.max_hp}" %></div>
    <%= image_tag ("avatars/#{@battle.user.name}.png") %>
    <div class="name"><%= @battle.user.name %></div>
  </div>

  <div class="actions">
    <%= link_to "Tackle", attack_battle_path(@battle), data: { animation_target: "attack", action: "click->animation#star" }, remote: true %>
  </div>

  <div class="messages">
    <p><%= "> #{@battle.message}" %></p>
    <%= link_to fa_icon('angle-double-right'), defend_battle_path(@battle) %>
  </div>

  <div class="animation invisible" data-animation-target="star">
    <%= image_tag ("animations/star.svg.png") %>
  </div>
</div>
