<div class="arena" data-controller="battle">
  <div class="pokemon" id="adversary">
    <div class="name"><%= @battle.adversary.name %></div>
    <%= image_tag ("avatars/#{@battle.adversary.name}.png") %>
    <div class="hp">
      <% if @battle.adversary.alive? %>
        <%= "#{@battle.adversary.hp}/#{@battle.adversary.max_hp}" %>
      <% else %>
        <%= "KO" %>
      <% end %>
    </div>
  </div>
  <div class="pokemon" id="user">
    <div class="hp"><%= "#{@battle.user.hp}/#{@battle.user.max_hp}" %></div>
    <%= image_tag ("avatars/#{@battle.user.name}.png") %>
    <div class="name"><%= @battle.user.name %></div>
  </div>

  <div class="actions" data-battle-target="menu">
    <%= link_to "Tackle", attack_battle_path(@battle), data: { battle_target: "attack", action: "click->battle#hide" }, remote: true %>
  </div>

  <div class="messages">
    <%= "> #{@battle.message}" %>
    <%= link_to fa_icon('angle-double-right'), defend_battle_path(@battle), data: { battle_target: "next", action: "click->battle#show" }, remote: true %>
  </div>
</div>
