<div class="arena" data-controller="animation">
  <%= turbo_frame_tag "arena" do %>
    <div class="pokemon" id="adversary">
      <div class="name"><%= @battle.adversary.name %></div>
      <%= image_tag ("avatars/#{@battle.adversary.name}.png"), data: { animation_target: "opponent" }  %>
      <div class="info">
        <%= render "status", pokemon: @battle.adversary %><%= render "hitpoints", pokemon: @battle.adversary %>
      </div>
    </div>
    <div class="pokemon" id="user">
      <div class="info">
        <%= render "hitpoints", pokemon: @battle.user %><%= render "status", pokemon: @battle.user %>
      </div>
      <%= image_tag ("avatars/#{@battle.user.name}.png"), data: { animation_target: "avatar" } %>
      <div class="name"><%= @battle.user.name %></div>
    </div>

    <%= render "message" %>

    <div class="actions">
      <% @battle.user.moves.each do |move| %>
        <ul>
          <li><%= fa_icon('chevron-right') %>&nbsp;<%= link_to "#{move.name}", attack_battle_path(@battle, move: move, attacker: @battle.user, defender: @battle.adversary), data: { animation_target: "attack", action: "click->animation#star click->animation#jump" } %></li>
        </ul>
      <% end %>
    </div>

    <% if @battle.result? %>%
      <div class="notice">
        <p><%= "#{@battle.result}" %></p>
      </div>
    <% end %>
  <% end %>

    <% if @accurate %>
      <div class="animation invisible" data-animation-target="star">
        <%= image_tag ("animations/star.svg.png") %>
      </div>
    <% end %>
</div>
