<div class="arena" data-controller="animation">
  <div class="pokemon" id="adversary">
    <div class="name"><%= @battle.adversary.name %></div>
    <%= image_tag ("avatars/#{@battle.adversary.name}.png") %>
    <%= render "hitpoints", pokemon: @battle.adversary %>
  </div>
  <div class="pokemon" id="user">
    <%= render "hitpoints", pokemon: @battle.user %>
    <%= image_tag ("avatars/#{@battle.user.name}.png") %>
    <div class="name"><%= @battle.user.name %></div>
  </div>

  <div class="actions">
    <% @battle.user.moves.each do |move| %>
      <ul>
        <li><%= fa_icon('chevron-right') %>&nbsp;<%= link_to "#{move.name}", attack_battle_path(@battle, move: move, attacker: @battle.user, defender: @battle.adversary), data: { animation_target: "attack", action: "click->animation#star" }, remote: true %></li>
      </ul>
    <% end %>
  </div>

  <%= render "message" %>

  <div class="animation invisible" data-animation-target="star">
    <%= image_tag ("animations/star.svg.png") %>
  </div>
</div>
